//! **************************************************************************
// Written by: Map P.20131013 on Sun May 08 21:54:58 2022
//! **************************************************************************

SCHEMATIC START;
COMP "seg0" LOCATE = SITE "L18" LEVEL 1;
COMP "seg1" LOCATE = SITE "F18" LEVEL 1;
COMP "seg2" LOCATE = SITE "D17" LEVEL 1;
COMP "seg3" LOCATE = SITE "D16" LEVEL 1;
COMP "seg4" LOCATE = SITE "G14" LEVEL 1;
COMP "seg5" LOCATE = SITE "J17" LEVEL 1;
COMP "seg6" LOCATE = SITE "H14" LEVEL 1;
COMP "JD0" LOCATE = SITE "J13" LEVEL 1;
COMP "JD1" LOCATE = SITE "M18" LEVEL 1;
NET "CLK_sys_BUFGP/IBUFG" BEL "CLK_sys_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "btn0" LOCATE = SITE "B18" LEVEL 1;
COMP "CLK_sys" LOCATE = SITE "B8" LEVEL 1;
COMP "btn3" LOCATE = SITE "H13" LEVEL 1;
COMP "dp" LOCATE = SITE "C17" LEVEL 1;
COMP "sw0" LOCATE = SITE "G18" LEVEL 1;
COMP "Led0" LOCATE = SITE "J14" LEVEL 1;
COMP "Led1" LOCATE = SITE "J15" LEVEL 1;
COMP "an0" LOCATE = SITE "F17" LEVEL 1;
COMP "an1" LOCATE = SITE "H17" LEVEL 1;
COMP "an2" LOCATE = SITE "C18" LEVEL 1;
COMP "an3" LOCATE = SITE "F15" LEVEL 1;
SCHEMATIC END;

